.fast{
    text-align: center;
    background-color: burlywood;
}
h1{
    background-color: brown;
    text-align: center;
}
p{
    background-color: chartreuse;
    text-align: justify;
}
img{
    height: 500px;
    width: 500px;
    
}